EarthROVER/EarthROVERMainNXT/src/KalmanCompass$1.class
EarthROVER/EarthROVERMainNXT/src/KalmanCompass.class
EarthROVER/EarthROVERMainNXT/src/Main$1.class
EarthROVER/EarthROVERMainNXT/src/Main.class
EarthROVER/EarthROVERMainNXT/src/PathMark$PathMarkType.class
EarthROVER/EarthROVERMainNXT/src/PathMark.class
EarthROVER/EarthROVERMainNXT/src/RoomBorderData.class
EarthROVER/EarthROVERMainNXT/src/SensorCollection.class
Bricks/DriverModule.bak
Bricks/DriverModule.nxc
Bricks/DriverModule.sym
Dokumentation/chapters/abstract.aux
Dokumentation/chapters/chapter1.aux
Dokumentation/chapters/chapter2.aux
Dokumentation/chapters/chapter3.aux
Dokumentation/chapters/title.aux
Dokumentation/document.acn
Dokumentation/document.bcf
Dokumentation/document.glo
Dokumentation/document.idx
Dokumentation/document.ist
Dokumentation/document.lof
Dokumentation/document.log
Dokumentation/document.lot
Dokumentation/document.out
Dokumentation/document.pdf
Dokumentation/document.run.xml
Dokumentation/document.thm
Dokumentation/document.toc
Dokumentation/glossary/glossary.aux
Dokumentation/utils/captions.aux
Dokumentation/utils/header.aux
EarthROVER/.idea/ant.xml
EarthROVER/.idea/libraries/JAX_RS_jersey_1_12__2_.xml
EarthROVER/.idea/libraries/leJOS_PC.xml
EarthROVER/.idea/workspace.xml
EarthROVER/.idea/ant.xml
EarthROVER/.idea/libraries/leJOS_PC.xml
EarthROVER/.idea/workspace.xml
EarthROVER/EarthROVERMainNXT/src/build.bat
EarthROVER/EarthROVERMainNXT/src/Discovery.class
EarthROVER/EarthROVERMainNXT/src/Driver$1.class
EarthROVER/EarthROVERMainNXT/src/Driver.class
EarthROVER/lib/activation-1.1.jar
EarthROVER/lib/asm-3.3.1.jar
EarthROVER/lib/comresrcgen-1.0.jar
EarthROVER/lib/FastInfoset-1.2.12.jar
EarthROVER/lib/grizzly-servlet-webserver-1.9.45.jar
EarthROVER/lib/jackson-core-asl-1.9.2.jar
EarthROVER/lib/jackson-jaxrs-1.9.2.jar
EarthROVER/lib/jackson-mapper-asl-1.9.2.jar
EarthROVER/lib/jackson-xc-1.9.2.jar
EarthROVER/lib/jaxb-api-2.1.jar
EarthROVER/lib/jaxb-impl-2.2.jar
EarthROVER/lib/jaxb-xjc-2.2.jar
EarthROVER/lib/jdom-1.0.jar
EarthROVER/lib/jersey-bundle-1.12.jar
EarthROVER/lib/jersey-client-1.12.jar
EarthROVER/lib/jersey-core-1.12.jar
EarthROVER/lib/jersey-grizzly-1.12.jar
EarthROVER/lib/jersey-multipart-1.12.jar
EarthROVER/lib/jettison-1.1.jar
EarthROVER/lib/localizer-1.0.jar
EarthROVER/lib/mail-1.4.4.jar
EarthROVER/lib/mimepull-1.3.jar
EarthROVER/lib/persistence-api-1.0.2.jar
EarthROVER/lib/rome-1.0.jar
EarthROVER/lib/stax-api-1.0-2.jar
EarthROVER/lib/wadl-cmdline-1.1.2.jar
EarthROVER/lib/wadl-core-1.1.2.jar
EarthROVER/logging/mainLogger.log.0
EarthROVER/logging/mainLogger.log.0.lck
EarthROVER/out/production/EarthROVER/de/htw/tojato/robotik/earthrover/communication/nxt/NXTConnectionCollection.class
EarthROVER/out/production/EarthROVER/de/htw/tojato/robotik/earthrover/communication/RequestHandler.class
EarthROVER/out/production/EarthROVER/de/htw/tojato/robotik/earthrover/communication/SensorRequestHandler.class
EarthROVER/out/production/EarthROVER/de/htw/tojato/robotik/earthrover/driver/Driver.class
EarthROVER/out/production/EarthROVER/de/htw/tojato/robotik/earthrover/driver/IDriverListener.class
EarthROVER/out/production/EarthROVER/de/htw/tojato/robotik/earthrover/logger/LoggerNames.class
EarthROVER/out/production/EarthROVER/de/htw/tojato/robotik/earthrover/logger/LoggingFormatter.class
EarthROVER/out/production/EarthROVER/de/htw/tojato/robotik/earthrover/logger/RootLogger.class
EarthROVER/out/production/EarthROVER/de/htw/tojato/robotik/earthrover/Main.class
EarthROVER/out/production/EarthROVER/de/htw/tojato/robotik/earthrover/sensors/extendedsensors/CompassHTSensorExt.class
EarthROVER/out/production/EarthROVER/de/htw/tojato/robotik/earthrover/sensors/extendedsensors/GyroSensorExt.class
EarthROVER/out/production/EarthROVER/de/htw/tojato/robotik/earthrover/sensors/extendedsensors/I2CSensorExt.class
EarthROVER/out/production/EarthROVER/de/htw/tojato/robotik/earthrover/sensors/extendedsensors/IRSeekerExt.class
EarthROVER/out/production/EarthROVER/de/htw/tojato/robotik/earthrover/sensors/extendedsensors/KalmanCompassExt$1.class
EarthROVER/out/production/EarthROVER/de/htw/tojato/robotik/earthrover/sensors/extendedsensors/KalmanCompassExt.class
EarthROVER/out/production/EarthROVER/de/htw/tojato/robotik/earthrover/sensors/extendedsensors/SensorCollectionExt.class
EarthROVER/out/production/EarthROVER/de/htw/tojato/robotik/earthrover/sensors/extendedsensors/SensorPortExt.class
EarthROVER/out/production/EarthROVER/de/htw/tojato/robotik/earthrover/sensors/KalmanCompass$1.class
EarthROVER/out/production/EarthROVER/de/htw/tojato/robotik/earthrover/sensors/KalmanCompass.class
EarthROVER/out/production/EarthROVER/de/htw/tojato/robotik/earthrover/sensors/SensorCollection.class
EarthROVER/out/production/EarthRoverApp/de/htw/tojato/robotik/earthrover/earthroverapp/EarthRoverApp/BuildConfig.class
EarthROVER/out/production/EarthRoverApp/de/htw/tojato/robotik/earthrover/earthroverapp/EarthRoverApp/R$attr.class
EarthROVER/out/production/EarthRoverApp/de/htw/tojato/robotik/earthrover/earthroverapp/EarthRoverApp/R$drawable.class
EarthROVER/out/production/EarthRoverApp/de/htw/tojato/robotik/earthrover/earthroverapp/EarthRoverApp/R$id.class
EarthROVER/out/production/EarthRoverApp/de/htw/tojato/robotik/earthrover/earthroverapp/EarthRoverApp/R$layout.class
EarthROVER/out/production/EarthRoverApp/de/htw/tojato/robotik/earthrover/earthroverapp/EarthRoverApp/R$string.class
EarthROVER/out/production/EarthRoverApp/de/htw/tojato/robotik/earthrover/earthroverapp/EarthRoverApp/R.class
EarthROVER/out/production/EarthRoverApp/de/htw/tojato/robotik/earthrover/earthroverapp/EarthRoverApp/TestActivity$1$1.class
EarthROVER/out/production/EarthRoverApp/de/htw/tojato/robotik/earthrover/earthroverapp/EarthRoverApp/TestActivity$1.class
EarthROVER/out/production/EarthRoverApp/de/htw/tojato/robotik/earthrover/earthroverapp/EarthRoverApp/TestActivity.class
